.empty-cart-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;

	.icon {
		margin-bottom: 16px;
	}

	.text {
		color: #9b9b9b;
		font-weight: 300;
		font-size: 16px;
	}
}